html {
    scroll-behavior: smooth;
    font-family: 'Oswald', sans-serif;
    transition: .3s linear;
    }



body {
    background: url(../img/2725569.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    
}

.container {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    color: #ffffff;
    border-radius: 10px;
}

.header {
    background: url('../img/main_bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    min-height: 90px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.top__menu::before,
.top__menu:after {
    content: "";
    display: block;
    height: 1px;  
    margin-bottom: 2px;
}

.header__menu {
    list-style: none;
    padding: 0 30px;
    margin: 0;   
    font-size: 18px;
    text-align: center;
    position: relative;
}



.header__menu:before {left: 15px;}
.header__menu:after {right: 15px;}
.header__menu li {
  display: inline-block;
  padding: 5px 0;
}

.header__menu a {
    text-decoration: none;
    display: inline-block;
    margin: 2px 5px;
    padding: 6px 5px;
    font-size: 20px;
    color: #fff;
    border-bottom: 1px solid transparent;
    transition: .3s linear;
    text-transform: uppercase;
  }
  .header__menu .current, .header__menu a:hover {
    border-radius: 3px;
    background: #f3ece1;
    color: #313131;
    text-shadow: 0 1px 0 #fff;
    border-color: #c6c6c6;
  }

.main__information {
    background-image: url('../img/main_bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
    min-height: 500px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px; 
}

.main__aboutme {
    max-width: 700px;
    padding-top: 80px;
    padding-left: 80px;
}

.main__title {
    font-size: 3rem;
    font-weight: 700;
}
.main__descr {
    font-size: 2rem;
}

.main__connection {
    display: grid;
    align-items: center;
    grid-template-rows: 30px 30px 30px;   
}

.connection__wrapper {
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.connection__text {
    margin-right: 5px;
    font-weight: 700;

}

a {
    text-decoration: none;
    font-style:oblique;
    color: #ffffff
}

.about__me {
    padding: 5px 10px 5px 15px;
    background-repeat: #aaa;
    margin-bottom: 50px;
}

.about__me__text {
    font-size: 20px;
    padding: 10px 30px 0 30px; 
}
.title { 
    display: block;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    max-width: 700px;
    margin: 0 auto;  
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 30px;
    font-weight: 700;
}

.title span {
    position: relative;
    display: inline-block;
}

.title span::before {
    content: '';
    position: absolute;
    background: white;
    top: 50%;
    right: 100%;
    margin-right: 15px;
    width: 300px;
    height: 2px;
}

.title span::after {
    content: '';
    position: absolute;
    background: #fff;
    top: 50%;
    left: 100%;
    margin-left: 15px;
    width: 300px;
    height: 2px;
}

.skills {
    margin-bottom: 50px;
}
.skills__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    max-width: 1100px;
    flex-wrap: wrap;
    
}

.skills__img {
    max-height: 120px;
    padding: 5px;
}

.code__exaples{
    margin-bottom: 50px;
}

.code {
    text-align: start;
}

.educational__projects {
    margin-bottom: 30px;
}

.card__wrapper {
    padding: 20px 40px;
    position: relative;
    display: flex;
    max-width: 1440px;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
}

.project__descr {
    background-color: #fff;
    width: 100%;
    min-height: 100px;
    padding: 26px 10px 12px 10px;
    position: relative;
    white-space: normal;
    display: grid;
    color: #000;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 22px;
    line-height: 24px;
}

.project__descr a {    
    color: #000;
}

.project__title {
    font-size: 26px;
    font-weight: 700;
}
.project__img {
    max-width: 250px;
    max-height: 165px;
}

.education {
    margin-bottom: 30px;
    padding: 0 40px;
}


.languages{
    padding: 0 40px;
    margin-bottom: 30px;
}

.project__card {
    position: relative; 
    max-width: 250px;
    display: flex;
    align-content: center;
    border: 1px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    flex-wrap: wrap; 
        
}

.project__img {    
    width: 100%;    
}

.project__category{
    margin: 0 auto;
}

.category__title {
    margin: 15px 10px 5px 5px;
}

.footer {
    display: flex;
    max-height: 120px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 10px;
}

.footer__img {
    width: 100px;
}

.year {
    font-size: 2rem;
    font-weight: 700;
}