*{
    font-family: 'Roboto Condensed', sans-serif;
   
}

body {
    background: url(../img/2725569.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    color: #ffffff;
    border-radius: 10px;
    
    
}

.top__menu {
    position: relative; 
    background: #ffffff10;
    box-shadow: inset 0 0 10px #ccc;
}

.top__menu::before,
.top__menu:after {
    content: "";
    display: block;
    height: 1px;
    border-top: 3px solid #575350;
    border-bottom: 1px solid #575350;
    margin-bottom: 2px;
  }

.top__menu:after {
    border-bottom: 3px solid #575350;
    border-top: 1px solid #575350;
    box-shadow: 0 2px 7px #ccc;
    margin-top: 2px;
  }



.header__menu {
    list-style: none;
    padding: 0 30px;
    margin: 0;
    font-size: 18px;
    text-align: center;
    position: relative;
}

.header__menu:before,
.header__menu:after {
  content: "\25C8";
  line-height: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header__menu:before {left: 15px;}
.header__menu:after {right: 15px;}
.header__menu li {
  display: inline-block;
  padding: 5px 0;
}

.header__menu a {
    text-decoration: none;
    display: inline-block;
    margin: 2px 5px;
    padding: 6px 5px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    border-bottom: 1px solid transparent;
    transition: .3s linear;
    text-transform: uppercase;
  }
  .header__menu .current, .header__menu a:hover {
    border-radius: 3px;
    background: #f3ece1;
    color: #313131;
    text-shadow: 0 1px 0 #fff;
    border-color: #c6c6c6;
  }


.main__information {
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
    
}

.main__photo {
    height: 250px;
    margin: 20px 15px 20px 15px;
}

.main__connection {
    display: grid;
    align-items: center;
    grid-template-rows: 55px 55px 55px;   
}

.connection__wrapper {
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.connection__text {
    margin-right: 5px;
    font-weight: 700;

}

a {
    text-decoration: none;
    font-style:oblique;
    color: #ffffff
}

.about__me {
    padding: 5px 10px 5px 15px;
    background-repeat: #aaa;
}

.about__me__text {
    margin-top: 5px;
}
.title {
 
    text-align: center;
}

.skills__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.skills__img {
    height: 120px;
    padding: 5px;
}

.code__exaples{
    margin-top: 10px;
}

.educational__projects {
    margin-top: 10px;
}
.languages{
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.project__category{
    margin: 0 auto;
}

.category__title {
    margin: 15px 10px 5px 5px;
}


.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__img {
    width: 300px;
}