.hobby_wrapper {
	display: flex;
	gap: 50px;
	justify-content: space-around;
	flex-wrap: wrap;
}

.hooby_elem {
	width: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	& img {
		width: 45px;
	}
}

.hobby_descr {
	margin-top: 14px;
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	color: $white;
}