.langauge {
	margin-bottom: 30px;
}
.langauge_descr {
	display: block;
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	color: $white;
}